@{
    ViewData["Title"] = "Dashboard";
}

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow p-4 text-center">
            <h2 class="mb-3">Welcome to Dashboard </h2>
            <p class="text-muted">You are successfully logged in.</p>

            <a asp-controller="Account" asp-action="Login" class="btn btn-dark mt-3">
                Logout
            </a>
        </div>
    </div>
</div>
