@model List<JobPortal.Models.Apply>

<h3>My Applications</h3>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Applied Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    <tr>
        <td>@item.AppliedDate.ToString("dd MMM yyyy")</td>
        <td>
            <span class="badge
                @(item.Status=="Accepted"?"bg-success":
                  item.Status=="Rejected"?"bg-danger":"bg-warning")">
                @item.Status
            </span>
        </td>
    </tr>
}
    </tbody>
</table>
